{
    "apis": {
        "Proxy Check": {
            "name": "Proxy Check",
            "use": true,
            "endpoint": "http://proxycheck.io/v2/${IP_ADDRESS}",
            "method": "GET",
            "query-params": {
                "key": "339l18-m130q2-z59676-971387",
                "vpn": 1,
                "asn": 1,
                "node": 1,
                "time": 1,
                "risk": 1, 
                "port": 1,
                "seen": 1,
                "short": 0,
                "days": 7
            },
            "field-mapping": {
            }
        },
        "IP Quality Score": {
            "name": "IP Quality Score",
            "use": true,
            "endpoint": "https://ipqualityscore.com/api/json/ip",
            "method": "GET",
            "query-params": {
                "key": "UCp3TNNgAZWTIzzgNPsduRxDZt8t04U9",
                "${IP_ADDRESS}": "ip",
                "allow_public_access_points": true,
                "mobile": false,
                "fast": false,
                "strictness": 0,
                "light_penalties": true
            },
            "field-mapping": {
            }
        },
        "VPN API": {
            "name": "VPN API",
            "use": true,
            "endpoint": "https://vpnapi.io/api/${IP_ADDRESS}",
            "method": "GET",
            "query-params": {
                "key": "bffe54b01540479393fb0f138bdc73ab"
            },
            "headers": {},
            "field-mapping": {

            }
        },
        "Fraud Sentinel": {
            "name": "Fraud Sentinel",
            "use": true,
            "endpoint": "https://api.fraudsentinel.com/api/sentinel.json",
            "method": "GET",
            "query-params": {
                "api_token": "VylevMVxbULlTKCVe4oKs41lRLxQqFFucxYzQe9iCE3SezKFDfV4CbV1SGXq",
                "${IP_ADDRESS}": "ip"
            },
            "field-mapping": {
            }
        },
        "IP Reputation": {
            "name": "IP Reputation",
            "use": true,
            "endpoint": "https://ip-reputation-geoip-and-detect-vpn.p.rapidapi.com/",
            "method": "GET",
            "query-params": {
                "${IP_ADDRESS}": "ip"
            },
            "headers": {
                "X-RapidAPI-Key": "9e16333cdamsh956b44a0fa4a434p1f2e41jsn3909d290e883",
                "X-RapidAPI-Host": "ip-reputation-geoip-and-detect-vpn.p.rapidapi.com"
            },
            "field-mapping": {
            }
        },
        "Abuse IP DB": {
            "name": "Abuse IP DB",
            "use": true,
            "endpoint": "https://api.abuseipdb.com/api/v2/check",
            "method": "GET",
            "query-params": {
                "${IP_ADDRESS}": "ipAddress",
                "maxAgeInDays": "90"
            },
            "headers": {
                "Accept": "application/json",
                "Key": "3d393294bf411ca8f2b09173e4a1fc118ad87f570d95c0fe2bb7468176de2c052ec067789beaa8b6"
            },
            "field-mapping": {
            }
        },
        "OTX Alien Vault": {
            "name": "OTX Alien Vault",
            "use": true,
            "endpoint": "https://otx.alienvault.com/api/v1/indicators/IPv4/${IP_ADDRESS}/general",
            "method": "GET",
            "headers": {
                "X-OTX-API-KEY": "4f27ba02e2eee4d0f928523989aad789a9709f50930ac944d4838579b9285e8c"
            },
            "field-mapping": {
            },
            "vars": {
                "endpoints": [
                    "https://otx.alienvault.com/api/v1/indicators/IPv4/${IP_ADDRESS}/general",
                    "https://otx.alienvault.com/api/v1/indicators/IPv4/${IP_ADDRESS}/reputation",
                    "https://otx.alienvault.com/api/v1/indicators/IPv4/${IP_ADDRESS}/geo",
                    "https://otx.alienvault.com/api/v1/indicators/IPv4/${IP_ADDRESS}/malware",
                    "https://otx.alienvault.com/api/v1/indicators/IPv4/${IP_ADDRESS}/url_list",
                    "https://otx.alienvault.com/api/v1/indicators/IPv4/${IP_ADDRESS}/passive_dns"
                ]
            }
        }
    }
}