{
    "host": "0.0.0.0",
    "port": 9999,
    "reload": true,
    "loop": "auto",
    "http": "auto",
    "ws": "auto",
    "ws_max_size": 16777216,
    "ws_ping_interval": 20,
    "ws_ping_timeout": 20,
    "ws_per_message_deflate": true,
    "lifespan": "auto",
    "interface": "auto",
    "debug": false,
    "reload_delay": 0.25,
    "root_path": "",
    "backlog": 2048,
    "timeout_keep_alive": 5,
    "proxy_headers": true,
    "server_header": true,
    "date_header": true,
    "access_log": true,
    "ssl_ciphers": "TLSv1",
    "use_colors": true,
    "factory": false,
    "additional_settings": {
        "READ ME": "Move settings you want to configure to the root of this json file",
        "uds": "None",
        "fd": "None",
        "reload_dirs": [ "None" ],
        "reload_includes": [ "None" ],
        "reload_excludes": [ "None" ],
        "workers": "None",
        "env_file": "None",
        "log_config": "None",
        "log_level": "None",
        "limit_max_requests": "None",
        "limit_concurency": "None",
        "forwarded_allow_ips": "None",
        "ssl_keyfile": "None",
        "ssl_certfile": "None",
        "ssl_keyfile_password": "None",
        "ssl_version": "int(SSL_PROTOCOL_VERSION)",
        "ssl_cert_reqs": "int(ssl.CERT_NONE)",
        "ssl_ca_certs": "None",
        "headers": "None",
        "app_dir": "None",
        "h11_max_incomplete_event_size": "DEFAULT_MAX_INCOMPLETE_EVENT_SIZE"
    }
}